$black: #000;
$white: #fff;
$grey: #F6F6F6;
$main-color: #FF6060;

.banner{
  margin: 0 100px;
  border-radius: 25px;
  height: 225px;
  position: relative;
  overflow: hidden;
  background-color: $black;
  .banner__title{
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    color: $white;
    font-size: 48px;
    text-align: center;
    z-index: 1;
  }
  img{
    transform: translateY(-40%);
    width: 100%;
    object-fit: contain;
    opacity: .7;
  }
}
.card{
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  background: $white;
  background: linear-gradient(180deg, $white 0%, $black 100%);
  .card__img{
    opacity: .7;
    width: 340px;
    height: 340px;
  }
  .card__title{
    color: $white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
.error__container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 139px;
  color: $main-color;
  margin-bottom: 139px;
  .error__title{
    font-size: 288px;
    font-weight: 700;
  }
  .error__description{
    font-size: 36px;
    font-weight: 500;
  }
}
footer{
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 66px 0 29px 0;
  margin-top: 50px;
  .footer__text{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
  ul{
    padding: 0;
  }
}
.home__container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  .cards__container{
    border-radius: 25px;
    display: flex;
    background-color: $grey;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 56px 50px;
    margin: 0 100px;
  }
}
.collapse__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 38px;
}
.collapse{
  width: 1023px;
  display: grid;
  .collapse__header{
    background-color: $main-color;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .collapse__title{
      font-size: 24px;
      font-weight: 500;
      color: $white;
    }
    .collapse__open--btn{
      background-color: inherit;
      border: 0;
    }
    .animate{
      animation: rotateBtn 100ms ease-in-out both alternate;
    }
  }
  .collapse__body{
    transform: scaleY(0);
    visibility: hidden;
    max-height: 0;
    transform-origin: top;
    overflow: hidden;
    background-color: $grey;
    border-radius: 0px 0px 5px 5px;
    .collapse__description{
      margin: 20px 20px 10px 15px;
      color: $main-color;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.open-background{
  animation: openCollapse 300ms ease-in-out both;
}
.open-text{
  animation: showTextCollapse 300ms ease-in-out both;
}

@keyframes showTextCollapse {
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes rotateBtn {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes openCollapse {
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
    visibility: visible;
    max-height: 500px;
}
}

@media screen and (max-width: 375px){
  .banner{
    margin: 15px;
    height: 111px;
    .banner__title{
      margin-left: 16px;
      font-size: 24px;
      text-align: left;
    }
  }
  footer{
    .footer__text{
      margin-top: 10px;
      display: block;
      p{
        margin: 0;
      }
    }
  }
  nav{
    align-items: center;
    margin: 15px;
    ul{
    }
    .navbar__img{
      height: 48px;
    }
  }
  .home__container{
    .cards__container{
      background-color: $white;
      padding: 0;
      margin: 0 15px;
    }
  }
  .collapse__container{
    margin: 15px;
    gap: 20px;
  }
  .collapse{
    width: 100%;
    .collapse__header{
      padding: 10px;
      .collapse__title{
        font-size: 13px;
      }
      .collapse__open--btn{
        padding: 0;
        img{
          height: 15px;
        }
      }
    }
    .collapse__body{
      .collapse__description{
        margin: 15px 20px 20px 20px;
        font-size: 12px;
      }
    }
  }
}

