$black: #000;
$white: #fff;
$grey: #F6F6F6;
$main-color: #FF6060;

nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
  #navbar{
    a{
      margin-left: 57px;
      font-size: 24px;
      text-decoration: none;
      color: $main-color;
    }
    a.active {
      text-decoration: underline;
    }
    padding: 0;
  }
}
.banner{
  margin: 0 100px;
  border-radius: 25px;
  height: 225px;
  position: relative;
  overflow: hidden;
  background-color: $black;
  .banner__title{
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    color: $white;
    font-size: 48px;
    text-align: center;
    z-index: 1;
  }
  img{
    transform: translateY(-40%);
    width: 100%;
    object-fit: contain;
    opacity: .7;
  }
}
.card{
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  background: $white;
  background: linear-gradient(180deg, $white 0%, $black 100%);
  .card__img{
    opacity: .7;
    object-fit: cover;
    width: 340px;
    height: 340px;
  }
  .card__title{
    color: $white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
.error__container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 139px;
  color: $main-color;
  margin-bottom: 139px;
  .error__title{
    font-size: 288px;
    font-weight: 700;
  }
  .error__description{
    font-size: 36px;
    font-weight: 500;
  }
}
.home__container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  .cards__container{
    border-radius: 25px;
    display: flex;
    background-color: $grey;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 56px 50px;
    margin: 0 100px;
  }
}
.apropos__collapse__container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
  align-items: center;
}
.collapse {
  max-width: 1025px;
  display: flex;
  flex-direction: column;
  .collapse__title {
    z-index: 1;
    color: $white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: $main-color;

    .btn-open-collapse {
      border: none;
      background-color: inherit;
      transform: rotate(0deg);
      transition: transform 500ms ease-in-out;
      &:hover{
        cursor: pointer;
      }
    }

    .btn-open-collapse--rotate {
      transform: rotate(-180deg);
    }
  }
  .collapse__description {
    background-color: $grey;
    z-index: -1;
    transform: translateY(-10px);
    border-radius: 0 0 10px 10px;
    max-height: 0;
    line-height: 142%;
    overflow: hidden;
    transition: max-height 400ms ease-in-out;
    div{
      margin: 20px 20px;
      color: $main-color;
      font-size: 18px;
      transform: translateY(-50px);
      transition: transform 400ms ease-in-out;
      ul{

        padding: 0;
        list-style: none;
        font-size: 18px;
      }
    }
  }
  .collapse__description--open {
    max-height: 500px;
    div{

      transform: translateY(0);
    }
  }
}
.hotel__container{
  margin: 0 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .hotel__description{
    display: flex;
    justify-content: space-between;
    .hotel__description--left{
      .hotel__title{
        font-size: 36px;
        color: $main-color;
        font-weight: 500;
        margin: 0;
      }
      .hotel__location{
        font-size: 18px;
        font-weight: 500;
        color: $main-color;
        margin: 0;
      }
      .tags__container{
        display: flex;
        gap: 10px;
        margin-top: 20px;
        .tag{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $main-color;
          color: $white;
          font-size: 14px;
          border-radius: 10px;
          width: 150px;
          height: 25px;
        }
      }
    }
    .hotel__description--rigth{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 21px;
      .ratings{
        display: flex;
        gap: 10px;
        font-size: 20px;
        color: $grey;
        .fa-orange{
          color: $main-color;
        }
      }
      .name-picture{
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 10px;
      }
      .host--name{
        color: $main-color;
        font-size: 18px;
      }
      .host--picture{
        height: 64px;
        border-radius: 32px;
      }
    }
  }
  .hotel__collapse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;
  }
}
.carousel{
  width: 100%;
  height: 415px;
  margin: 0 auto;
  .slider{
    height: 100%;
    position: relative;
    .previous-icon{
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: rotate(-90deg) translateX(50%);
      cursor: pointer;
      img{
        height: 80px;
      }
    }
    .next-icon{
      z-index: 2;
      position: absolute;
      right: 0;
      top: 50%;
      transform: rotate(90deg) translateX(-50%);
      cursor: pointer;
      img{
        height: 80px;
      }
    }
    .number{
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 24px;
      color: $white;
      font-size: 18px;
    }
  }
}
footer{
  background-color: $black;
  width: 100%;
  color: $white;
  text-align: center;
  padding: 66px 0 29px 0;
  margin-top: 50px;
  .footer__text{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}
@media screen and (max-width: 375px){
  .banner{
    margin: 0 15px;
    height: 111px;
    .banner__title{
      margin-left: 16px;
      font-size: 24px;
      text-align: left;
    }
  }
  footer{
    margin-top: 19px;
    .footer__text{
      margin-top: 10px;
      display: block;
      p{
        margin: 0;
      }
    }
  }
  nav{
    align-items: center;
    margin: 15px 15px 27px 15px;
    #navbar{
      a{
        font-size: 12px;
        margin-left: 26px;
        text-transform: uppercase;
      }
    }
    .navbar__img{
      height: 48px;
    }
  }
  .home__container{
    gap: 22px;
    .cards__container{
      background-color: $white;
      padding: 0;
      margin: 0 15px;
      gap: 20px;
      .card{
        height: 255px;
      }
    }
  }
  .apropos__collapse__container{
    margin: 15px 15px;
    gap: 20px;
  }
  .collapse__container{
    margin: 15px;
  }
  .collapse{
    width: 100%;
      .collapse__title{
        font-size: 13px;
      }
      .btn-open-collapse{
        padding: 0;
        height: 15px;
        img{
          height: 15px;
        }
    }
    .collapse__description{
      div{
        margin: 15px;
        font-size: 12px;
        ul{
          font-size: 12px;
        }
      }
    }
  }
  .hotel__container{
    margin: 15px;
    gap: 15px;
    .carousel{
      height: 255px;
      .slider{
        .previous-icon{
          img{
            margin: 6px;
            height: 24px;
          }
        }
        .next-icon{
          img{
            margin: 6px;
            height: 24px;
          }
        }
        .number{
          display: none;
        }
      }
    }
    .hotel__description{
      flex-direction: column;
      .hotel__description--left{
        .hotel__title{
          font-size: 18px;
        }
        .hotel__location{
          font-size: 14px;
        }
        .tags__container{
          .tag{
            width: 84px;
            height: 18px;
            font-size: 10px;
          }
        }
      }
      .hotel__description--rigth{
        margin-top: 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .name-picture{
          order: 2;
          .host--picture{
            height: 32px;
          }
          .host--name{
            font-size: 12px;
          }
        }
        .ratings{
          font-size: 15px;
          width: 100px;
        }
      }
    }
    .hotel__collapse{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .error__container{
    margin-top: 113px;
    gap: 113px;
    .error__title{
      font-size: 96px;
    }
    .error__description{
      font-size: 18px;
    }
    a{
      font-size: 14px;
    }
  }
}

/* -- wrapper --*/
@media screen and (max-width: 1400px) and (min-width: 1710px) {
  body{
    margin: 0 100px;
  }
}
@media screen and (min-width: 1711px) and (max-width: 2000px){
  body{
    margin: 0 150px;
  }
}
@media screen and (min-width: 2000px) {
  body{
    margin: 0 250px;
  }
}