nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
  ul{
    padding: 0;
  }
}

.active-link{
  text-decoration: underline;
}
@media screen and (max-width: 375px){
  nav{
    align-items: center;
    margin: 15px;
    ul{
    }
    .navbar__img{
      height: 48px;
    }
  }
}